`
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Barra de progreso</h4>
        <div class="progress">
          <!--     atributos personalizados  [attr.ariaValuenow] en lugar de aria-valuenow   -->
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
               [attr.ariaValuenow]="porcentaje"
               aria-valuemin="0" aria-valuemax="100"
               [style.width]="porcentaje +'%'"></div>
          <p>{{porcentaje}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div class="input-group mb-3">
          <div class="input-group-prepend" id="button-addon3">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
              <i class="mdi mdi-minus"></i>
            </button>
          </div>
          <input name="porcentaje" [(ngModel)]="porcentaje"
                 type="text" class="form-control" placeholder=""
                 aria-label="Example text with two button addons"
                 aria-describedby="button-addon3">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(5)">
              <i class="mdi mdi-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        ccccccc

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        ccccccc

      </div>
    </div>
  </div>
</div>
