<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Account settings</h4>

        <div class="r-panel-body">
          <ul class="m-t-20" id="themecolors">
            <li><b>Con el sidebar claro</b></li>
            <li><a #link1 (click)="cambiarColor('default',link1)" class="selector default-theme working"
                   data-theme="default">1</a></li>
            <li><a #link2 (click)="cambiarColor('green', link2)" class="selector green-theme" data-theme="green">2</a>
            </li>
            <li><a #link3 (click)="cambiarColor('red', link3)" class="selector red-theme" data-theme="red">3</a></li>
            <li><a #link4 (click)="cambiarColor('blue', link4)" class="selector blue-theme" data-theme="blue">4</a></li>
            <li><a #link5 (click)="cambiarColor('purple', link5)" class="selector purple-theme"
                   data-theme="purple">5</a></li>
            <li><a #link6 (click)="cambiarColor('megna', link6)" class="selector megna-theme" data-theme="megna">6</a>
            </li>
            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li><a #link7 (click)="cambiarColor('default-dark', link7)" class="selector default-dark-theme"
                   data-theme="default-dark">7</a></li>
            <li><a #link8 (click)="cambiarColor('green-dark', link8)" class="selector green-dark-theme"
                   data-theme="green-dark">8</a></li>
            <li><a #link9 (click)="cambiarColor('red-dark', link9)" class="selector red-dark-theme"
                   data-theme="red-dark">9</a></li>
            <li><a #link10 (click)="cambiarColor('blue-dark', link10)" class="selector blue-dark-theme "
                   data-theme="blue-dark">10</a></li>
            <li><a #link11 (click)="cambiarColor('purple-dark', link11)" class="selector purple-dark-theme"
                   data-theme="purple-dark">11</a></li>
            <li><a #link12 (click)="cambiarColor('megna-dark', link12)" class="selector megna-dark-theme"
                   data-theme="megna-dark">12</a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
